fieldset label {
    float: left;
    margin-top: 15px;
}

fieldset .mb-4 {
    width: 95%;
}

fieldset span {
    color: red;
    float: left;
    margin-top: 5px
}

fieldset {
    margin-right: 10px !important;
    border: 2px solid lightgrey !important;
    border-radius: 10px;
    padding:10px !important;
    width: 95% !important;
}

legend {
    float: none;
    max-width: 35% !important;
    text-align: left !important;
    padding: 0px 20px 0 !important;
    font-size: 20px !important;
}

@media (max-width:1140px){
    .user {
        height: 28%;;
    }
}

@media (max-width: 760px){
    fieldset {
        margin-right: 7px !important;
        padding:5px !important;
        width: 98% !important;
    }
}

@media (max-width: 391px){
    fieldset {
        width: 93% !important;
        margin-right: 10px !important;
    }
}