.table-order {
    width: 95%;
}

th {
    text-align: center;
    vertical-align: middle;
    align-items:center;
    padding: auto;
}

@media (max-width: 567px) {
    th {
        font-size: 12px;
    }
}

@media (max-width: 391px) {
    .table-order {
        width: 90%;
        margin-left: 0;
    }

    .table {
        width: 95%;
    }
}